h1 {
    text-align: center;
    background-color: #7c54da;
    color: white;
    font-size: 30px;
}

.blogEntry {
    font-size: 20px;
    background-color: #594191;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.blogDate {
    font-size: 12px;
    color: rgb(255, 255, 255);
}

.blogHeader {
    font-size: 25px;
    background-color: #4d29a0;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.blogText {
    font-size: 20px;
    color: white;
    background-color: rgb(71, 147, 214);
    padding: 5px;
    border-radius: 5px;
}

html {
    background-color: #c7e6f1;
    font-family: Cambria;
}
